<!--Editing student-->
{{#each event}}

<div class="main_update_events">
  <form method="post" action="/updateEvent">

    <div class="form_control">
      <label for="name">Nome</label><br>
      <input type="text" name="name" id="name" value="{{name}}">
      <input type="hidden" name="id" value="{{id}}">
    </div>

    <div class="form_control">
      <label for="day">Data</label><br>
      <div class="d_flex event_date">
        <input type="number" name="day" min="1" max="31" maxlength="2">
        <select name="month" id="month">
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
        <input type="number" name="year" maxlength="4">
      </div>
    </div>

    <div class="form_control">
      <label for="description">Descrição</label><br>
      <input type="text" name="description" id="description" value="{{description}}">
    </div>

    <div class="form_control">
      <label for="reasons">Objectivos</label><br>
      <input type="text" name="reasons" id="reasons" value="{{reasons}}">
    </div>

    <div class="form_control">
      <label for="partakers">Intevenientes</label><br>
      <input type="text" name="partakers" id="partakers" value="{{partakers}}">
    </div>

    <div class="button_student">
      <button type="submit" class="btn_success">Atualizar</button>
      <a href="/events" class="btn_primary">Voltar</a>
    </div>

  </form>
</div>

{{/each}}
<!--End of Editing student-->